{#
  description d'une creature (NPC)
  La commande affiche l'aspect exterieur de la créature.
  Indique si la créature est morte
#}
{% apply nl2space %}
  {{ name }}
  {% if dead %}
    - {warn {icon fas fa-skull-crossbones} cadavre}
  {% endif %}
{% endapply %}
{% for s in desc %}
  {{ s }}
{% endfor %}

