{#
  description d'une direction
#}
{% apply nl2space %}
  {{ direction }}
  {% if locked %}(verrouillée){% endif %}
  {% if lockable and not locked %}(déverrouillée){% endif %}
{% endapply %}
{% if discovered %}
  Cette issue mène à : {{ roomdest }}.
{% endif %}
{% if name %}- {{ name }}{% endif %}
{% if desc %}
  {% for s in desc %}{{ s }}{% endfor %}
{% endif %}
