{#
  description d'un objet transportable dans l'inventaire
#}
{% apply nl2space %}
  {{ name }}
{% endapply %}
{% for s in desc %}
  {{ s }}
{% endfor %}
- Poids: {{ weight }}
{% apply nl2space %}
  {% if container %}Cet objet est un contenant{% endif %}
  {% if locked %}(verrouillé){% endif %}
  {% if lockable and not locked %}(déverrouillé){% endif %}
{% endapply %}

{% for oCatEntities in inventory %}
  {{ oCatEntities.label }} :
  {% for entity in oCatEntities.entities %}
    {% if entity.dead %}
      {{ entity.name }} - cadavre
    {% else %}
      - {{ entity.name }}{% if entity.remark %} - {{ entity.remark }}{% endif %}
    {% endif %}

  {% endfor %}
{% endfor %}
