{#
  Affiche la description de la pièce dans laquelle se trouve le PJ.
  Affiche la liste des issue visible, ainsi que la liste des entités présent dans la pièce (objet et créatures)
#}
{{ name }}
{% for s in desc %}
  {{ s }}
{% endfor %}
{% apply nl2space %}
  Issue{{ exits.length > 1 ? 's' : '' }} :
  {% for s in exits %}
    [ {{ s.label }}
    {% if s.locked %} (verrouillé){% endif %}
    {% if s.lockable and not s.locked %} (déverrouillé){% endif %} ]
  {% endfor %}
{% endapply %}

{% for oCatEntities in entities %}
  {{ oCatEntities.label }} :
  {% for entity in oCatEntities.entities %}
    {% if entity.dead %}
      - {{ entity.name }} - (cadavre)
    {% else %}
      - {{ entity.name }}{% if entity.remark %} - {{ entity.remark }}{% endif %}
    {% endif %}

  {% endfor %}
{% endfor %}

