<template>
  <section>
    <AnsiString
      v-for="(s, i) in text"
      :text="s || ''"
      :key="'rs-' + i"
    ></AnsiString>
  </section>
</template>

<script>
import AnsiString from './AnsiString.vue'

export default {
  name: 'AnsiText',
  components: { AnsiString },
  props: {
    text: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
section {
  margin:  0;
  padding: 0;
}
</style>
