<template>
  <section>
    <div class="ansi-text" v-if="text !== ''">
      <span
        v-for="(p, i) in getTokenizedText"
        :key="i"
        class="seamless"
        :style="composeStyle(p)"
      >{{ p.text }}</span>
    </div>
    <div class="rich-text" v-else>
      <br />
    </div>
  </section>
</template>

<script>
const Ansi256 = require('../../../libs/ansi-256-colors')
const ansi256 = new Ansi256()

export default {
  name: 'AnsiString',
  props: {
    text: {
      type: String,
      required: true
    }
  },
  computed: {
    getTokenizedText: function () {
      return ansi256.parse(this.text)
    }
  },
  methods: {
    composeStyle: function ({ fg, bg, attrs }) {
      const aStyles = []
      if (fg) {
        aStyles.push('color: ' + fg)
      }
      if (bg) {
        aStyles.push('background-color: ' + bg)
      }
      const attrSet = new Set(attrs)
      if (attrSet.has('b')) {
        aStyles.push('font-weight: bold')
      }
      if (attrSet.has('u')) {
        aStyles.push('text-decoration: underline')
      }
      if (attrSet.has('i')) {
        aStyles.push('font-style: italic')
      }
      if (attrSet.has('s')) {
        aStyles.push('text-decoration: line-through')
      }
      if (attrSet.has('h')) {
        aStyles.push('visibility: hidden')
      }
      if (attrSet.has('d')) {
        aStyles.push('opacity: 0.5')
      }
      return aStyles.join('; ')
    }
  }
}
</script>

<style scoped>

</style>
