<template>
  <div class="flex flex-center">
    <div class="row" :style="getStyleSizeMap">
      <div v-for="(item, index) in map" :key="index" :style="getStyleSize">
        <vec-room v-if="item.type === 'room'"
                  :size="getWidth / 5"
                  color-room="grey"
                  colorDoor="green"
                  colorLockedDoor="red"
                  :doors="item.doors"
                  :colorRoomBorder="item.active ? 'white' : 'transparent'"
        />
        <vec-road v-if="item.type === 'road'"
                  :size="getWidth / 5"
                  :roads="item.roads"
        />
      </div>
    </div>
    <!--    <div>centre : {{ getCenterMap }}</div>-->
  </div>
</template>

<script>
import VecRoom from 'components/leaves/VecRoom'
import VecRoad from 'components/leaves/VecRoad'

export default {
  name: 'MapMud',
  components: {
    VecRoad,
    VecRoom
  },
  props: {
    mX: {
      type: Number,
      default: 10
    },
    mY: {
      type: Number,
      default: 10
    },
    map: {
      type: Array,
      required: true
    }
  },
  computed: {
    getCenterMap () {
      return [Math.floor(this.mX / 2), Math.floor(this.mY / 2)]
    },
    getWidth () {
      return this.mX * 32
    },
    getHeight () {
      return this.mY * 32
    },
    getStyleSize () {
      return `width: ${this.getWidth / 5}px; height: ${this.getHeight / 5}px;`
    },
    getStyleSizeMap () {
      return `width: ${this.getWidth}px; height: ${this.getHeight}px;`
    }
  }
}
</script>
