<template>
  <g v-if="door !== ''">
    <rect
      :x="coords.x"
      :y="coords.y"
      :width="0.2 * size"
      :height="0.2 * size"
      :fill="(this.direction === 'up' || this.direction === 'down') ? 'black' : typeDoor"
      :stroke-width="1"
      stroke="black"
    />
    <polygon
      v-if="direction === 'up'"
      :points="triangeUp"
      :fill="typeDoor"
      stroke="black"
    />
    <polygon
      v-if="direction === 'down'"
      :points="triangeDown"
      :fill="typeDoor"
      stroke="black"
    />
  </g>
</template>

<script>
export default {
  name: 'SvgDoor',
  data () {
    return {}
  },
  props: {
    size: {
      type: Number,
      default: 32
    },
    x: {
      type: Number,
      default: 0
    },
    y: {
      type: Number,
      default: 0
    },
    door: {
      type: String,
      default: 'unlock'
    },
    direction: {
      type: String,
      required: true
    }
  },
  computed: {
    typeDoor () {
      switch (this.door) {
        case 'unlock':
          return 'green'
        case 'lock':
          return 'rgb(180, 0, 0)'
        case 'secret':
          return 'blue'
        default:
          return ''
      }
    },
    triangeUp () {
      const startCoords = {
        x: this.x * this.size + 0.5 * this.size,
        y: this.y * this.size + 0.5 * (this.size - 0.2 * this.size - 0.4 * this.size)
      }
      const secondCoords = {
        x: this.x * this.size + 0.5 * this.size - 0.2 * 0.5 * this.size,
        y: this.y * this.size + 0.5 * (this.size - 0.4 * this.size)
      }
      const endCoords = {
        x: this.x * this.size + 0.5 * this.size + 0.2 * 0.5 * this.size,
        y: this.y * this.size + 0.5 * (this.size - 0.4 * this.size)
      }
      return `${startCoords.x} ${startCoords.y}, ${secondCoords.x} ${secondCoords.y}, ${endCoords.x} ${endCoords.y}`
    },
    triangeDown () {
      const startCoords = {
        x: this.x * this.size + 0.5 * this.size,
        y: this.y * this.size + 0.5 * (this.size + 0.2 * this.size + 0.4 * this.size)
      }
      const secondCoords = {
        x: this.x * this.size + 0.5 * (this.size - 0.2 * this.size),
        y: this.y * this.size + 0.5 * this.size + 0.2 * this.size
      }
      const endCoords = {
        x: this.x * this.size + 0.5 * (this.size + 0.2 * this.size),
        y: this.y * this.size + 0.5 * this.size + 0.2 * this.size
      }
      return `${startCoords.x} ${startCoords.y}, ${secondCoords.x} ${secondCoords.y}, ${endCoords.x} ${endCoords.y}`
    },
    coords () {
      const coord = {
        x: 0,
        y: 0
      }
      switch (this.direction) {
        case 'n':
          coord.x = this.x * this.size + 0.5 * this.size - 0.2 * 0.5 * this.size
          coord.y = this.y * this.size
          break
        case 's':
          coord.x = this.x * this.size + 0.5 * this.size - 0.2 * 0.5 * this.size
          coord.y = this.y * this.size + this.size - 0.2 * this.size
          break
        case 'e':
          coord.x = this.x * this.size
          coord.y = this.y * this.size + 0.5 * this.size - 0.2 * 0.5 * this.size
          break
        case 'w':
          coord.x = this.x * this.size + this.size - 0.2 * this.size
          coord.y = this.y * this.size + 0.5 * this.size - 0.2 * 0.5 * this.size
          break
        case 'ne':
          coord.x = this.x * this.size + this.size - 0.2 * this.size
          coord.y = this.y * this.size
          break
        case 'nw':
          coord.x = this.x * this.size
          coord.y = this.y * this.size
          break
        case 'sw':
          coord.x = this.x * this.size
          coord.y = this.y * this.size + this.size - 0.2 * this.size
          break
        case 'se':
          coord.x = this.x * this.size + this.size - 0.2 * this.size
          coord.y = this.y * this.size + this.size - 0.2 * this.size
          break
        case 'up':
        case 'down':
          coord.x = this.x * this.size + 0.5 * this.size - 0.2 * 0.5 * this.size
          coord.y = this.y * this.size + 0.5 * this.size - 0.2 * 0.5 * this.size
          break
      }
      return coord
    }
  }
}
</script>

<style scoped>

</style>
