<template>
  <g>
    <line
      v-if="isRoadsV"
      :x1="x * size + size / 2"
      :y1="y * size"
      :x2="x * size + size / 2"
      :y2="y * size + size"
      stroke-width="3"
      stroke="green"
    />

    <line
      v-if="isRoadsH"
      :x1="x * size"
      :y1="y * size + size / 2"
      :x2="x * size + size"
      :y2="y * size + size / 2"
      stroke-width="3"
      stroke="green"
    />
    <line
      v-if="isRoadsD1"
      :x1="x * size"
      :y1="y * size"
      :x2="x * size + size"
      :y2="y * size + size"
      stroke-width="3"
      stroke="green"
    />
    <line
      v-if="isRoadsD2"
      :x1="x * size"
      :y1="y * size + size"
      :x2="x * size + size"
      :y2="y * size"
      stroke-width="3"
      stroke="green"
    />
  </g>
</template>

<script>
export default {
  name: 'SvgRoads',
  data () {
    return {}
  },
  props: {
    size: {
      type: Number,
      default: 32
    },
    x: {
      type: Number,
      default: 0
    },
    y: {
      type: Number,
      default: 0
    },
    roads: {
      type: Array,
      required: true
    }
  },
  computed: {
    getRoadSet () {
      return new Set(this.roads)
    },
    isRoadsV () {
      return this.getRoadSet.has('rv')
    },
    isRoadsH () {
      return this.getRoadSet.has('rh')
    },
    isRoadsD1 () {
      return this.getRoadSet.has('rd1')
    },
    isRoadsD2 () {
      return this.getRoadSet.has('rd2')
    }
  }
}
</script>

<style scoped>

</style>
