<template>
  <g>
    <rect
      :x="x * size + 3"
      :y="y * size + 3"
      :width="size - 6"
      :height="size - 6"
      fill="grey"
    />
    <svg-door
      v-for="(door, direction) in listeDoors"
      :key="'d' + direction + door.type"
      :x="x"
      :y="y"
      :size="size"
      :direction="direction"
      :door="door.type"
    />
  </g>
</template>

<script>
import SvgDoor from 'components/leaves/SvgDoor'
import mapMixin from 'src/mixins/mapMixin'

export default {
  name: 'SvgRoom',
  components: { SvgDoor },
  mixins: [mapMixin],
  props: {
    x: {
      type: Number,
      default: 0
    },
    y: {
      type: Number,
      default: 0
    },
    idBlock: {
      type: String,
      default: ''
    }
  },
  computed: {
    listeDoors () {
      const block = this.blocks.find(d => d.id === this.idBlock)
      return block ? block.doors : {}
    }
  }
}
</script>

<style scoped>

</style>
