<template>
  <svg :width="size" :height="size">
    <line x2="50%" y2="0%" v-if="getDoorColor.n" x1="50%" y1=50% :stroke-width="doorThickness + '%'"
          :stroke="getDoorColor.n" />
    <line x2="100%" y2="50%" v-if="getDoorColor.e" x1="50%" y1=50% :stroke-width="doorThickness + '%'"
          :stroke="getDoorColor.e" />
    <line x2="0%" y2="50%" v-if="getDoorColor.w" x1="50%" y1=50% :stroke-width="doorThickness + '%'"
          :stroke="getDoorColor.w" />
    <line x2="50%" y2="100%" v-if="getDoorColor.s" x1="50%" y1=50% :stroke-width="doorThickness + '%'"
          :stroke="getDoorColor.s" />
    <line x2="100%" y2="0%" v-if="getDoorColor.ne" x1="50%" y1=50% :stroke-width="doorThickness + '%'"
          :stroke="getDoorColor.ne" />
    <line x2="0%" y2="0%" v-if="getDoorColor.nw" x1="50%" y1=50% :stroke-width="doorThickness + '%'"
          :stroke="getDoorColor.nw" />
    <line x2="100%" y2="100%" v-if="getDoorColor.se" x1="50%" y1=50% :stroke-width="doorThickness + '%'"
          :stroke="getDoorColor.se" />
    <line x2="0%" y2="100%" v-if="getDoorColor.sw" x1="50%" y1=50% :stroke-width="doorThickness + '%'"
          :stroke="getDoorColor.sw" />
    <rect
      :width="roomSize + '%'"
      :height="roomSize + '%'"
      :fill="colorRoom"
      :stroke="colorRoomBorder"
      stroke-width="4%"
      stroke-dasharray="5 1"
      :x="((100 - roomSize) >> 1) + '%'"
      :y="((100 - roomSize) >> 1) + '%'"
    />
  </svg>
</template>

<script>
export default {
  name: 'VecRoom',
  props: {
    colorRoom: {
      // couleur générale de la pièce
      type: String,
      required: true
    },
    colorDoor: {
      // couleur des porte lorsqu'elle ne sont pas verrouillées
      type: String,
      required: true
    },
    colorLockedDoor: {
      // couleur des portes verrouillées
      type: String,
      required: true
    },
    colorRoomBorder: {
      // couleur des bordures de pièce
      type: String,
      required: false,
      default: 'tranparent'
    },
    roomBorderThickness: {
      // épaisseur de la bordure de la pièce
      type: Number,
      required: false,
      default: 0
    },
    doors: {
      // définition des portes.
      // { n: number, e: number ...
      // le nombre correspond à 1: porte - 2: porte verrouillée.
      type: Object,
      required: true
    },
    doorThickness: {
      // épaisseur de la porte en % de largeur du composant
      type: Number,
      required: false,
      default: 10
    },
    roomSize: {
      // largeur de la pièce en % de largeur du composant
      type: Number,
      required: false,
      default: 80
    },
    size: {
      // largeur de la pièce en % de largeur du composant
      type: Number,
      required: false,
      default: 32
    }
  },
  computed: {
    getDoorColor: function () {
      const aPalette = [
        null,
        this.colorDoor,
        this.colorLockedDoor
      ]
      const d = this.doors
      return {
        n: aPalette[d.n || 0],
        e: aPalette[d.e || 0],
        w: aPalette[d.w || 0],
        s: aPalette[d.s || 0],
        ne: aPalette[d.ne || 0],
        nw: aPalette[d.nw || 0],
        se: aPalette[d.se || 0],
        sw: aPalette[d.sw || 0],
        u: aPalette[d.u || 0],
        d: aPalette[d.d || 0]
      }
    }
  }
}
</script>
