<template>
  <svg :width="size" :height="size">
    <line x1="0" y1="0" x2="100%" y2="100%" v-if="getRoadColor.d1" :stroke="getRoadColor.d1" stroke-width="10%" />
    <line x1="100%" y1="0" x2="0" y2="100%" v-if="getRoadColor.d2" :stroke="getRoadColor.d2" stroke-width="10%" />
    <line x1="0" y1="50%" x2="100%" y2="50%" v-if="getRoadColor.h" :stroke="getRoadColor.h" stroke-width="10%" />
    <line x1="50%" y1="0" x2="50%" y2="100%" v-if="getRoadColor.v" :stroke="getRoadColor.v" stroke-width="10%" />
  </svg>
</template>

<script>
export default {
  name: 'VecRoad',
  props: {
    roads: {
      type: Object,
      default: () => {
        return {
          h: 0,
          v: 0,
          d1: 0,
          d2: 0
        }
      }
    },
    size: {
      type: Number,
      default: 32
    },
    colorRoad: {
      type: String,
      default: 'green'
    },
    colorSecretRoad: {
      type: String,
      default: 'blue'
    }
  },
  computed: {
    getRoadColor: function () {
      const aPalette = [
        null,
        this.colorRoad,
        this.colorSecretRoad
      ]
      const d = this.roads
      return {
        h: aPalette[d.h || 0],
        v: aPalette[d.v || 0],
        d1: aPalette[d.d1 || 0],
        d2: aPalette[d.d2 || 0]
      }
    }
  }
}
</script>
