{{ '[ ]' }} {{ 'Nom' | rpad(24) }} Date créa.
{{ '' | rpad(3, '-') }} {{ '' | rpad(24, '-') }} {{ '' | rpad(10, '-') }}
{% for c in characters %}
  {% apply nl2space %}
    {% if c.current %}
      [*]
    {% else %}
      [ ]
    {% endif %}
    {{ ' ' }}{{ c.name | rpad(24, '.') }} {{ (c.dates.creation / 1000) | round | date('Y-m-d')}}
  {% endapply %}
{%  endfor %}
