<template>
  <q-page class="fit row no-wrap">
    <div class="offset-3 col-6">
      <FormRegisterUser v-if="!formNewUserSent" @submit="({ name, password, email }) => sendNewUser(name, password, email)"></FormRegisterUser>
      <UserCreatedInfo v-else></UserCreatedInfo>
    </div>
  </q-page>
</template>

<script>
import FormRegisterUser from 'components/forms/FormRegisterUser'
import terminalMixin from '../mixins/terminalMixin'
import UserCreatedInfo from 'components/UserCreatedInfo'

export default {
  name: 'NewUser',
  components: { UserCreatedInfo, FormRegisterUser },
  mixins: [terminalMixin],
  data: function () {
    return {
      formNewUserSent: false
    }
  },
  methods: {
    sendNewUser: async function (name, password, email) {
      try {
        const { data } = await this.$axios.post('/api/user', {
          name,
          password,
          email
        })
        if (data.success) {
          this.formNewUserSent = true
        }
      } catch (e) {
        if (e.response) {
          const { status, data } = e.response
          const n = {
            icon: 'fas fa-exclamation-circle',
            position: 'top',
            color: 'negative'
          }
          if (status === 409) {
            n.message = 'This user name is already taken !'
          } else if (status === 400) {
            switch (data) {
              case 'username':
                n.message = 'This user name was not accepted !'
                n.caption = 'Allowed characters are : a-z, 0-9, dashes and underscores.'
                break

              case 'email':
                n.message = 'Email addresss is invalid !'
                break

              default:
                n.message = 'User information is invalid !'
                break
            }
            this.$q.notify(n)
          } else {
            n.message = 'An error occured : ' + e.message
          }
          this.$q.notify(n)
        }
      }
    }
  },
  setup () {
  }
}
</script>

<style scoped>

</style>
