<template>
  <q-page class="screen-container row no-wrap">
    <div
      class="col-7 terminal-container panel-left bordered-right"
      @click="commandFocus()"
    >
      <q-scroll-area style="width: 100%; height: 100%">
        <Terminal
          ref="terminal"
          :content="scrGetActiveScreen.lines"
          :password="scrGetActiveScreen.password"
          :status="scrGetActiveScreen.status"
          @command="({ command }) => sendCommand(command)"
        />
      </q-scroll-area>
    </div>
    <div class="col-5 panel-right bordered-bottom">
      <div class="row">
        <div class="col-12 panel-top-right bordered">
<!--          <img-->
<!--            class="fullsize-bg"-->
<!--            alt="mandragore"-->
<!--            src="../assets/images/backgrounds/mandragore-splashscreen-alpha.png"-->
<!--          />-->
        </div>
      </div>
      <ChatWindow></ChatWindow>
    </div>
    <FormLogin @submit="({ name, password }) => sendLogin(name, password)"></FormLogin>
    <FormPasswd @submit="({ password }) => sendPasswd(password)"></FormPasswd>
  </q-page>
</template>

<script>
import screensMixin from 'src/mixins/screensMixin'
import terminalMixin from 'src/mixins/terminalMixin'
import Terminal from 'components/leaves/Terminal'
import FormLogin from 'components/forms/FormLogin'
import FormPasswd from 'components/forms/FormPasswd'
import ChatWindow from 'components/ChatWindow'

export default {
  name: 'TermMain',
  components: {
    ChatWindow,
    FormLogin,
    FormPasswd,
    Terminal
  },
  mixins: [screensMixin, terminalMixin],
  computed: {
    getTermComputedStyle () {
      const sColSize = this.isAuthenticated ? 7 : 12
      return 'col-' + sColSize + ' terminal-container panel-left bordered-right'
    }
  },
  methods: {
    commandFocus: function () {
      this.$refs.terminal.$refs.commandLine.focus()
    },
    sendCommand: function (sCommand) {
      this.termSubmitCommand({ command: sCommand, echo: true })
    },
    sendLogin: function (name, password) {
      // setTimeout(() => this.runBatch(), 500)
      return this.termSubmitCommand({ command: 'login ' + name + ' "' + password + '"', echo: false })
    },
    sendPasswd: function (name, password) {
      return this.termSubmitCommand({ command: 'passwd "' + password + '"', echo: false })
    },
    runBatch: async function () {
      const BATCH = [
        'enter',
        'go n',
        'get clé from sac',
        'go s',
        'unlock bureau using clé',
        'look bureau',
        'look une carte de cantine in bureau'
      ]
      const sendBatchLine = (command, nDelay) => new Promise(resolve => {
        this.termSubmitCommand({ command, echo: true })
        setTimeout(() => resolve(), nDelay)
      })
      for (const command of BATCH) {
        await sendBatchLine(command, 300)
      }
    }
  },
  async mounted () {
    this.commandFocus()
    return this.termSubmitCommand({ command: 'login', echo: false })
  }
}
</script>

<style scoped>
.bordered-right {
  border-right: solid thin rgb(32, 32, 32);
}

.bordered-bottom {
  border-bottom: solid thin rgb(32, 32, 32);
}

.panel-left {
  padding: 0.5em;
  max-height: 100vh;
}

.panel-right {
  max-height: 100vh;
  overflow: hidden;
}

.panel-top-right {
  text-align: center;
  image-rendering: pixelated;
  height: 50vh;
  overflow: hidden;
}

.screen-container {
  height: 100vh;
  max-height: 100vh;
}

img.fullsize-bg {
  padding: 0.5em;
  height: 100%;
  max-width: 100%;
}
</style>
