{#
  Liste des objets contenu dans l'inventaire, classé par sous-type
#}
{% for oCatEntities in entities %}
  {{ oCatEntities.label }}
  {% for entity in oCatEntities.entities %}
    - {{ entity.name }}
  {% endfor %}
{% endfor %}
