<template>
  <div class="row">
    <div class="col-12 terminal-container panel-center-right">
      <q-tabs
        v-if="chatGetTabs.length > 0"
        align="left"
        v-model="currentTab"
        dense no-caps inline-label>
        <q-tab
          v-for="({ id, caption }) in chatGetTabs"
          :key="id"
          :name="id"
        >{{ caption }}</q-tab>
      </q-tabs>
      <div class="q-pa-sm" v-else style="color: rgba(128, 128, 128, 0.7)">(Not connected)</div>
    </div>
    <div
      class="col-12 terminal-container panel-bottom-right bordered"
      @click="$refs.terminalChat.$refs.commandLine.focus()"
    >
      <q-scroll-area style="width: 100%; height: 100%">
        <Terminal
          ref="terminalChat"
          :content="chatGetActiveScreen.lines || []"
          prompt="message"
          @command="({ command }) => sendChatMessage(command)"
        />
      </q-scroll-area>
    </div>
  </div>
</template>

<script>
import Terminal from 'components/leaves/Terminal'
import chatMixin from 'src/mixins/chatMixin'
import terminalMixin from 'src/mixins/terminalMixin'
export default {
  name: 'ChatWindow',
  mixins: [chatMixin, terminalMixin],
  components: { Terminal },
  computed: {
    currentTab: {
      get: function () {
        return this.chatGetActiveScreen.id
      },

      set: function (value) {
        this.chatSetActiveScreen({ screen: value })
      }
    }
  },
  methods: {
    sendChatMessage (message) {
      // envoyer le message au chat
      this.termSubmitChatMessage({
        channel: this.chatGetActiveScreen.id,
        message
      })
    }
  }
}
</script>

<style scoped>

.panel-center-right {
  height: 2em;
}

.panel-bottom-right {
  padding: 0.5em;
  height: calc(50vh - 2em);
}

.bordered {
  border-top: solid thin rgb(32, 32, 32);
}

</style>
