<template>
  <q-card class="q-ma-lg" dark style="min-width: 350px">
    <q-card-section>
      <div class="text-h5">Register new account</div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <div>User has been successfully created.</div>
    </q-card-section>
    <q-card-actions align="right" class="text-primary">
      <q-btn icon-right="fas fa-check-circle" color="primary" type="button" label="Ok" to="/" />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: 'UserCreatedInfo'
}
</script>

<style scoped>

</style>
