CHAR - Gestion des personnages.
Sous-commandes :
- char list : Affiche la liste des personnage. Le personnage actif est mis en évidence.
- char select <name> : Sélectionne le personnage actif : celui qui sera utilisé lorsque l'on entrera dans le jeu.
- char delete <name> : Supprimer le personnage spécifé.
- char create <name> : Création d'un nouveau personnage - qui devient immédiatement le personnage actif.
