html, body, #vue-application {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.terminal-container {
    font-family: "decterm", monospace;
    font-weight: normal;
    word-wrap: break-word;
}

input.command {
    background: none;
    border: none;
}

.spread-height {
    height: 100%;
}

.theme[data-theme="green"], .theme[data-theme="green"] input.command {
    color: #0F0;
}

.theme[data-theme="green"] {
    background: repeating-linear-gradient(#000, #000 2px, #010 2px, #010 4px);
}

.theme[data-theme="amber"], .theme[data-theme="amber"] input.command {
    color: #FA0;
}

.theme[data-theme="amber"] {
    background: repeating-linear-gradient(#000, #000 2px, #0F0A00 2px, #0F0A00 4px);
}

.theme[data-theme="gray"], .theme[data-theme="gray"] input.command {
    color: #AAA;
}

.theme[data-theme="gray"] {
    background: repeating-linear-gradient(#000, #000 2px, #0A0A0A 2px, #0A0A0A 4px);
}
