/* MISE EN FORME DE TEXTE */
/* MISE EN FORME DE TEXTE */
/* MISE EN FORME DE TEXTE */
/* MISE EN FORME DE TEXTE */
/* MISE EN FORME DE TEXTE */
/* MISE EN FORME DE TEXTE */

/* texte en gras */
.rich-string.b {
  font-weight: bold;
}

/* texte souligné */
.rich-string.u {
  text-decoration: underline;
}

/* texte en italique */
.rich-string.i {
  font-style: italic;
}

/* texte barré */
.rich-string.s {
  text-decoration: overline;
}

/* ORGANISATION DE DOCUMENT */
/* ORGANISATION DE DOCUMENT */
/* ORGANISATION DE DOCUMENT */
/* ORGANISATION DE DOCUMENT */
/* ORGANISATION DE DOCUMENT */
/* ORGANISATION DE DOCUMENT */

/* saut de ligne */
.rich-string.nl {
  display: block;
  content: " ";
}

/* hyperlien */
.rich-string.link {
  color: #0099ff;
  cursor: pointer;
}

.rich-string.link:hover {
  color: #72c4fd;
  cursor: pointer;
  text-shadow: 0 0 0.2em darkblue;
  text-decoration: underline;
}

/* tabulation initiale (mise en retrait du paragraphe) */
.rich-text > .rich-string.tab {
  margin-left: 2em;
  display: block;
}

/* SEMANTIQUE DE TEXTE */
/* SEMANTIQUE DE TEXTE */
/* SEMANTIQUE DE TEXTE */
/* SEMANTIQUE DE TEXTE */
/* SEMANTIQUE DE TEXTE */
/* SEMANTIQUE DE TEXTE */

/*
Ces messages sont à caractère négatif (erreur, interdiction, action abandonnée, échec...)
Ils doivent traduire une demande d'attention de l'utilisateur par rapport à un fait inquiétant
 */
.rich-string.neg {
  color: #D33;
}

/*
Ces message sont à caractère positif (succès, autorisation, action terminée...)
Ils doivent rassurer l'utilisateur que les opérations se déroulent bien.
 */
.rich-string.pos {
  color: #0F4;
}

/*
emphase : Ce texte est important et doit être imprimé avec emphase.
 */
.rich-string.em {
  color: #FFF;
  font-weight: bolder;
  text-transform: uppercase;
}

/*
Ce texte est un label de champ et doit etre affiché avec une légère emphase
 */
.rich-string.field {
  color: #EEE;
}

.rich-string.field:before {
  color: #666;
  content: "▪ ";
}

/* élément de liste */
.rich-string.list:before {
  color: #666;
  content: "▪ ";
}

/*
information : Ce texte avertit de quelquechose d'assez important..
 */
.rich-string.warn {
  color: #FFA;
}

/*
information : Ce text est informatif et requiert une certaines attention de l'utilisateur.
sans pour autant alerte sur quoi que ce soit de grave.
 */
.rich-string.info {
  color: #92a6ee;
}

/*
information : Ce texte à caractère informatif éclaire sur une astuce ou une explication.
peut etre utiliser pour afficher un texte permettant de détailler un texte précédemment affiché.
 */
.rich-string.hint {
  color: #666;
  font-style: italic;
}

/* PALETTE DE COULEURS */
/* PALETTE DE COULEURS */
/* PALETTE DE COULEURS */
/* PALETTE DE COULEURS */
/* PALETTE DE COULEURS */
/* PALETTE DE COULEURS */

.rich-string.darkred {
  color: darkred;
}

.rich-string.red {
  color: red;
}

.rich-string.lightred {
  color: #ff9090;
}

.rich-string.darkblue {
  color: darkblue;
}

.rich-string.blue {
  color: blue;
}

.rich-string.royalblue {
  color: royalblue;
}

.rich-string.lightblue {
  color: lightblue;
}

.rich-string.darkgreen {
  color: darkgreen;
}

.rich-string.green {
  color: green;
}

.rich-string.lime {
  color: lime;
}

.rich-string.lightgreen {
  color: lightgreen;
}

.rich-string.darkcyan {
  color: darkcyan;
}

.rich-string.cyan {
  color: cyan;
}

.rich-string.lightcyan {
  color: #a4ffff;
}

.rich-string.indigo {
  color: indigo;
}

.rich-string.darkmagenta {
  color: darkmagenta;
}

.rich-string.magenta {
  color: magenta;
}

.rich-string.deeppink {
  color: deeppink;
}

.rich-string.hotpink {
  color: hotpink;
}

.rich-string.pink {
  color: pink;
}

.rich-string.brown {
  color: saddlebrown;
}

.rich-string.orange {
  color: orange;
}

.rich-string.gold {
  color: gold;
}

.rich-string.yellow {
  color: yellow;
}

.rich-string.darkgray {
  color: dimgray;
}

.rich-string.gray {
  color: gray;
}

.rich-string.lightgray {
  color: lightgray;
}

.rich-string.white {
  color: white;
}
