{% apply pre %}
ab[#0f0]c[:i:u:d:v#f00]def[#]xy[#]z
test : [:u]souligné
test : [:b]gras ... [:u:b]gras et souligné[#]... ni gras ni souligné
test : [:i]italique
test : [:d]estompé

:                                                                              |>>>
:                                                                              |
:              ▄▄                                                    ▄▄    _  _|_  _
: ▀███▀▀▀██▄ ▀███                                                  ▀███   |;|_|;|_|;|
:   ██   ▀██▄  ██                                                    ██   \\.    .  /
:   ██   ▄██   ██  ▄█▀██▄  ▄██▀███████████▄█████▄ ▀███  ▀███    ▄█▀▀███    \\:  .  /
:   ███████    ██ ██   ██  ██   ▀▀ ██    ██    ██   ██    ██  ▄██    ██     ||:   |
:   ██         ██  ▄█████  ▀█████▄ ██    ██    ██   ██    ██  ███    ██     ||:.  |
:   ██         ██ ██   ██  █▄   ██ ██    ██    ██   ██    ██  ▀██    ██     ||:  .|
: ▄████▄     ▄████▄████▀██▄██████▀████  ████  ████▄ ▀████▀███▄ ▀████▀███▄   ||:   |
:                   ___                            ____                     ||##, |
:          ____--'~    `--~~__            __ ----~    ~`---,             ___||##__|_
: ----~--~                   ~---__ ,--~'                  ~~----_____-~'           `~--~~
: {{ description }}
: version {{ version }}
: ----------------------------------------------------------------------------------------
{% endapply %}

{{ motd }}

Commandes de base :
help ........... Obtenir de l'aide sur les commandes
char ........... Gestion des personnages, choisir un personnage actif
quit ........... Déconnexion
enter .......... Démarrer le jeu avec le personnage actif
