<template>
  <q-card class="q-ma-lg" dark style="min-width: 350px">
    <q-card-section>
      <div class="text-h5">Register new account</div>
    </q-card-section>

    <form @submit.prevent="triggerSubmit()">
      <q-card-section class="q-pt-none">
        <q-input dark label="User name" v-model="newusername" filled autofocus />
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input dark label="Choose a password" v-model="newuserpassword" filled type="password" />
      </q-card-section>
      <q-card-section class="q-pt-none">
        <div class="text-subtitle2">Don't forget your password !</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input dark label="Enter email" v-model="newuseremail" filled type="text" />
      </q-card-section>
      <q-card-section class="q-pt-none">
        <div class="text-subtitle2">Confirmation email will be sent to the address above</div>
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat type="button" label="Cancel" v-close-popup to="/" />
        <q-space></q-space>
        <q-btn icon-right="fas fa-user-plus" color="primary" type="submit" label="Create" v-close-popup />
      </q-card-actions>
    </form>
  </q-card>

</template>

<script>
import hashMixin from 'src/mixins/hashMixin'

export default {
  name: 'FormRegisterUser',
  mixins: [hashMixin],
  data: function () {
    return {
      newusername: '',
      newuserpassword: '',
      newuseremail: ''
    }
  },
  methods: {
    triggerSubmit: function () {
      this.$emit('submit', {
        name: this.newusername,
        password: this.hashPassword(this.newuserpassword),
        email: this.newuseremail
      })
    }
  }
}
</script>

<style scoped>
.formLogin {
  font-family: "Courier", monospace;
}
</style>
