<template>
  <q-dialog class="formLogin" v-model="formLoginVisible" persistent>
    <q-card dark style="min-width: 350px">
      <q-card-section>
        <div class="text-h5">Account login</div>
      </q-card-section>

      <form @submit.prevent="triggerSubmit()">
        <q-card-section class="q-pt-none">
          <q-input dark label="User name" v-model="name" filled autofocus />
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input dark label="Password" v-model="password" filled :type="isPwd ? 'password' : 'text'">
            <template v-slot:append>
              <q-icon
                size="0.66em"
                :name="isPwd ? 'fas fa-eye-slash' : 'fas fa-eye'"
                dark
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat type="button" label="New user" v-close-popup to="newuser" />
          <q-space></q-space>
          <q-btn icon-right="fas fa-sign-in-alt" color="primary" type="submit" label="Login" v-close-popup />
        </q-card-actions>
      </form>
    </q-card>
  </q-dialog>

</template>

<script>
import terminalMixin from 'src/mixins/terminalMixin'
import hashMixin from 'src/mixins/hashMixin'

export default {
  name: 'FormLogin',
  mixins: [terminalMixin, hashMixin],
  data: function () {
    return {
      name: '',
      password: '',
      isPwd: true
    }
  },
  methods: {
    triggerSubmit: function () {
      this.$emit('submit', {
        name: this.name,
        password: this.hashPassword(this.password)
      })
    }
  }
}
</script>

<style scoped>
.formLogin {
  font-family: "Courier", monospace;
}
</style>
